Repository dsp-dr/guile-changeflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

docs: add ITIL-compliant deployment checklist for v1.4.4
  docs/DEPLOYMENT-CHECKLIST-V1.4.4-ITIL.org
  docs/ITIL-PROCESS-MAPPING-V1.4.4.org
Owners: @jwalsh, @dsp-dr

feat: add parallel deployment strategy and npx MCP server
  bin/mcp-server.js
  docs/DEPLOYMENT-CHECKLIST-V1.4.4-PARALLEL.org
  package.json
  scripts/parallel-deploy.sh
  scripts/parallel-validate.sh
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

feat: add extractable semver version for automation
  infra/cloudflare/worker.js
  scripts/check-version.sh
Owners: @aygp-dr, @jwalsh, @seanjensengrey, @dsp-dr

Notes added by 'git notes add'
  5cc4d8845820c762085c86f135151369a184d477
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

docs: comprehensive release environment patterns and simulator
  demos/release-patterns-demo.scm
  docs/RELEASE-ENVIRONMENT-PATTERNS.org
  src/simulator/release-environment-simulator.scm
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

fix: bypass GitHub OAuth for Claude.ai connections (v1.5.0)
  infra/cloudflare/worker.js
Owners: @aygp-dr, @jwalsh

fix: use 303 status for OAuth POST-to-GET redirects
  .gitmodules
  infra/cloudflare/worker.js
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

fix: handle form-urlencoded data in OAuth token endpoint
  infra/cloudflare/worker.js
Owners: @aygp-dr, @jwalsh

feat: implement actual ITIL 4 functionality with KV persistence
  docs/CLAUDE-AI-MCP-EXACT-FLOW.md
  docs/CLAUDE-AI-OAUTH-CORRECT-FLOW.md
  docs/CLAUDE-CONNECTION-TROUBLESHOOTING.md
  docs/CRITICAL-BUG-OAUTH-FLOW.md
  docs/CRITICAL-VALIDATION-REPORT.md
  docs/MCP-OAUTH-PATTERNS-ANALYSIS.md
  docs/MCP-REMOTE-SERVER-COMPLETE-SPEC.md
  docs/OAUTH-FIX-MIGRATION.md
  infra/cloudflare/itil-service.js
  infra/cloudflare/mcp-oauth-standalone.js
  infra/cloudflare/worker.js
  infra/cloudflare/wrangler.toml
  test-oauth-flow.sh
Owners: @jwalsh, @dsp-dr, @aygp-dr, @seanjensengrey

fix: disable KV namespace until properly configured
  infra/cloudflare/wrangler.toml
Owners: @aygp-dr, @jwalsh

feat: add OAuth protected resource discovery endpoint
  infra/cloudflare/worker.js
Owners: @aygp-dr, @jwalsh

fix: resolve release pipeline issues with staging/production deployments
  .github/workflows/deploy-cloudflare.yml
  .github/workflows/release.yml
  infra/cloudflare/wrangler.toml
  scripts/test-environments.sh
Owners: @aygp-dr, @jwalsh, @seanjensengrey, @dsp-dr

feat: add proper favicon from generated logo
  infra/cloudflare/worker.js
  static/favicon-base64.txt
  static/favicon-small.ico
  static/favicon-tiny.ico
  static/favicon.ico
  static/favicon.ico.b64
  static/images/logo-square.png
  static/images/logo.webp
Owners: @aygp-dr, @jwalsh, @seanjensengrey, @dsp-dr

feat: add landing page worker for root domain
  .github/workflows/deploy-landing.yml
  infra/cloudflare/DOMAIN-SETUP.md
  infra/cloudflare/landing-worker.js
  infra/cloudflare/wrangler-landing.toml
Owners: @aygp-dr, @jwalsh

feat: enhance landing page for root domain visitors
  infra/cloudflare/worker.js
Owners: @aygp-dr, @jwalsh

docs: add Git safety checklist
  docs/GIT-SAFETY-CHECKLIST.org
Owners: @jwalsh, @dsp-dr

fix: properly register GitHub deployments for production
  .github/workflows/deploy-cloudflare.yml
Owners: @aygp-dr, @jwalsh

feat: crop banner to optimal dimensions (1271x276)
  assets/banner.webp
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

feat: add cropped PNG version of banner (1271x276)
  assets/banner.png
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

fix: correct banner-1200x300.png dimensions and add banner to README
  README.org
  assets/banner-1200x300.png
Owners: @seanjensengrey, @jwalsh, @dsp-dr, @aygp-dr

fix: use properly sized banner (1271x276) in README
  README.org
Owners: @seanjensengrey, @jwalsh, @dsp-dr

fix: use PNG banner with explicit dimensions in README
  README.org
Owners: @seanjensengrey, @jwalsh, @dsp-dr

fix: use simple inline image syntax for GitHub compatibility
  README.org
Owners: @seanjensengrey, @jwalsh, @dsp-dr

docs: align documentation with codebase
  README.org
  spec.org
Owners: @seanjensengrey, @jwalsh, @dsp-dr, @aygp-dr

.github/CODEOWNERS:

# CODEOWNERS file for Guile ChangeFlow
# Automatic code review assignment

# Global ownership - all files require review from at least one of these users
* @seanjensengrey @jwalsh @aygp-dr @dsp-dr

# Core Guile modules - require Scheme/Lisp expertise
/src/ @seanjensengrey @dsp-dr

# MCP protocol implementation - require MCP expertise
/src/mcp/ @aygp-dr @jwalsh

# Infrastructure and deployment - require DevOps expertise
/infra/ @aygp-dr @jwalsh
/.github/ @jwalsh @dsp-dr

# Release management - require senior approval
/RELEASE-NOTES.md @seanjensengrey @jwalsh @dsp-dr
/CHANGELOG.md @seanjensengrey @jwalsh @dsp-dr
/docs/release-process.org @seanjensengrey @jwalsh @dsp-dr

# Security-sensitive files - require security review
/src/json.scm @seanjensengrey @dsp-dr
/.env.example @jwalsh @dsp-dr

# Documentation - require technical writing review
/docs/ @jwalsh @dsp-dr
/README.org @seanjensengrey @jwalsh @dsp-dr

# Testing infrastructure - require testing expertise
/test/ @seanjensengrey @aygp-dr @dsp-dr
/.github/workflows/ @aygp-dr @jwalsh

# Configuration files - require ops review
/infra/cloudflare/wrangler.toml @aygp-dr @jwalsh
/Makefile @seanjensengrey @dsp-dr
