Repository dsp-dr/guile-changeflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

.github/CODEOWNERS:

# CODEOWNERS file for Guile ChangeFlow
# Automatic code review assignment

# Global ownership - all files require review from at least one of these users
* @seanjensengrey @jwalsh @aygp-dr @dsp-dr

# Core Guile modules - require Scheme/Lisp expertise
/src/ @seanjensengrey @dsp-dr

# MCP protocol implementation - require MCP expertise
/src/mcp/ @aygp-dr @jwalsh

# Infrastructure and deployment - require DevOps expertise
/infra/ @aygp-dr @jwalsh
/.github/ @jwalsh @dsp-dr

# Release management - require senior approval
/RELEASE-NOTES.md @seanjensengrey @jwalsh @dsp-dr
/CHANGELOG.md @seanjensengrey @jwalsh @dsp-dr
/docs/release-process.org @seanjensengrey @jwalsh @dsp-dr

# Security-sensitive files - require security review
/src/json.scm @seanjensengrey @dsp-dr
/.env.example @jwalsh @dsp-dr

# Documentation - require technical writing review
/docs/ @jwalsh @dsp-dr
/README.org @seanjensengrey @jwalsh @dsp-dr

# Testing infrastructure - require testing expertise
/test/ @seanjensengrey @aygp-dr @dsp-dr
/.github/workflows/ @aygp-dr @jwalsh

# Configuration files - require ops review
/infra/cloudflare/wrangler.toml @aygp-dr @jwalsh
/Makefile @seanjensengrey @dsp-dr

fix: correct Guile library check syntax in CI workflow
  .github/workflows/ci.yml
Owners: @aygp-dr, @jwalsh

docs: add comprehensive project meta-analysis presentation
  docs/presentations/meta/Makefile
  docs/presentations/meta/meta.org
  docs/presentations/meta/meta.pdf
  docs/presentations/meta/meta.tex
Owners: @jwalsh, @dsp-dr

fix: use guile instead of guile3 in release pipeline
  .github/workflows/release.yml
Owners: @aygp-dr, @jwalsh

fix: suppress tar warnings in release pipeline
  .github/workflows/release.yml
Owners: @aygp-dr, @jwalsh

fix: remove build dependency from deployments
  .github/workflows/release.yml
Owners: @aygp-dr, @jwalsh

feat: comprehensive dev environment improvements
  .claude/mcp_config.json
  infra/cloudflare/wrangler.toml
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

feat: configure MCP server on port 8427 (8 24/7)
  .claude/mcp_config.json
  Makefile
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

chore: clean root directory structure
  docs/CHANGE-REQUEST-MCP-DEPLOYMENT.md
  scripts/claude-code-auditor.py
Owners: @jwalsh, @dsp-dr, @seanjensengrey, @aygp-dr

fix: add CLOUDFLARE_ACCOUNT_ID to deployment workflow
  .github/workflows/release.yml
Owners: @aygp-dr, @jwalsh

fix: remove CPU limits for free plan compatibility
  infra/cloudflare/wrangler.toml
Owners: @aygp-dr, @jwalsh

refactor: convert change request to proper ITIL org-mode format
  docs/CHANGE-REQUEST-MCP-DEPLOYMENT.md
  docs/change-requests/CHG-MCP-2025-09-14-001.org
Owners: @jwalsh, @dsp-dr

fix: add missing web server HTTP module import to Guile MCP server
  src/mcp/server.scm
Owners: @aygp-dr, @jwalsh

docs: create Workshop 02 - ITIL Change Management Deep Dive
  docs/workshops/02-itil-deep-dive/README.org
  docs/workshops/02-itil-deep-dive/simulator.scm
Owners: @jwalsh, @dsp-dr

chore: remove unused CHANGELOG.md
  CHANGELOG.md
Owners: @seanjensengrey, @jwalsh, @dsp-dr

docs: replace CHANGELOG.md with superior CHANGELOG.org
  CHANGELOG.org
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

feat: core models implementation by gcf-a1
  README.md
  demo.scm
  migrations/001_initial_schema.sql
  migrations/002_audit_triggers.sql
  migrations/migrate.scm
  src/db/connection.scm
  src/models/change-request.scm
  src/models/state-machine.scm
  tests/test-runner.scm
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

feat: MCP server implementation by gcf-a2
  DEMO-SCRIPT-7AM.md
  README-MCP-DEPLOYMENT.md
  dashboard.html
  deploy.sh
  test-local.js
  test-mcp.sh
  worker.js
  wrangler.toml
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

feat: risk engine implementation by gcf-a3
  RISK-ENGINE-READY.md
  battle-scenarios.scm
  production-validation.scm
  simple-test.scm
  src/main.scm
  src/risk/calculator.scm
  src/risk/factors.scm
  test-freeze.scm
  test-risk-engine.scm
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

feat: web interface and dashboard by gcf-a4
  src/main.scm
  src/web/api.scm
  src/web/dashboard.scm
  src/web/executive-dashboard.scm
  src/web/gcf-server.scm
  src/web/simple-json.scm
  test-server.sh
Owners: @seanjensengrey, @dsp-dr, @jwalsh, @aygp-dr

feat: integration tests by gcf-a5
  DEMO-READY-7AM.md
  test/chaos-scenarios.scm
  test/demo-validation.sh
  test/integration-tests.scm
  test/mock-services.scm
  test/run-tests.sh
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

chore: convert demo docs to org-mode
  DEMO-READY-7AM.org
  DEMO-SCRIPT-7AM.org
  RISK-ENGINE-READY.org
  src/models/change-request.scm
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

docs: add org-mode documentation for v2.0 planning
  docs/WORKER-COMPARISON.org
  docs/presentations/7AM-DEMO-DISCOVERY.org
Owners: @jwalsh, @dsp-dr

docs: add v2.0 roadmap for worker convergence
  docs/roadmap/V2.0-ROADMAP.org
Owners: @jwalsh, @dsp-dr

refactor: convert README to org-mode with badges
  README.org
  docs/GCF-A1-CORE-MODELS-README.md
Owners: @seanjensengrey, @jwalsh, @dsp-dr

docs: professional ITIL-focused README for end users
  README.org
Owners: @seanjensengrey, @jwalsh, @dsp-dr

refactor: clean up root directory structure
  README.org
  docs/demos/dashboard.html
  docs/deployment/README-MCP-DEPLOYMENT.md
  docs/deployment/deployment-audit-v1.0.1.json
  docs/releases/RELEASE-NOTES.md
  infra/cloudflare/test-local.js
  infra/cloudflare/worker.js
  infra/cloudflare/wrangler.toml
  worker.js
  wrangler.toml
Owners: @seanjensengrey, @jwalsh, @dsp-dr, @aygp-dr

docs: add PROJECT.org as documentation index
  PROJECT.org
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

chore: remove CHANGELOG.org
  CHANGELOG.org
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

chore: move agent demo docs to docs/agents/
  docs/agents/DEMO-READY-7AM.org
  docs/agents/DEMO-SCRIPT-7AM.org
  docs/agents/RISK-ENGINE-READY.org
Owners: @jwalsh, @dsp-dr

refactor: consolidate README and clean root directory
  PROJECT.org
  README.org
  scripts/deploy.sh
  src/demo.scm
  src/validation/production-validation.scm
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

refactor: final root cleanup - down to 7 essential files
  guile-changeflow.el
  project-status.el
  scripts/test-mcp.sh
  scripts/test-server.sh
  test/battle-scenarios.scm
  test/simple-test.scm
  test/test-freeze.scm
  test/test-risk-engine.scm
  test/test-runner.scm
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

feat: add production stability measures
  .github/workflows/post-deploy-check.yml
  Makefile
Owners: @aygp-dr, @jwalsh, @seanjensengrey, @dsp-dr

docs: add staging environment URL
  README.org
Owners: @seanjensengrey, @jwalsh, @dsp-dr

docs: update staging URL to jasonwalsh.workers.dev
  README.org
Owners: @seanjensengrey, @jwalsh, @dsp-dr

docs: document final cleanup and session end
  docs/CLEANUP-COMPLETE.org
  scripts/emergency-shutdown.sh
Owners: @jwalsh, @dsp-dr, @seanjensengrey, @aygp-dr

refactor: reorganize MCP server structure
  Makefile
  mcp-server/README.org
  mcp-server/changeflow-mcp.js
Owners: @seanjensengrey, @dsp-dr, @jwalsh, @aygp-dr

refactor: clean up infra/cloudflare - keep only deployment files
  .github/workflows/post-deploy-check.yml
  docs/cloudflare-deployment.md
  scripts/package.json
  scripts/test-local.js
  scripts/test-logging.js
  scripts/worker-mcp-poc.js
Owners: @aygp-dr, @jwalsh, @dsp-dr, @seanjensengrey

fix: update post-deployment check to match MCP server API
  .github/workflows/post-deploy-check.yml
Owners: @aygp-dr, @jwalsh

fix: update deployment workflow to use infra/cloudflare
  .github/workflows/deploy-cloudflare.yml
Owners: @aygp-dr, @jwalsh

fix: resolve CI/CD pipeline and deployment issues
  .github/workflows/deploy-cloudflare.yml
  docs/status/2025-09-14-ci-cd-pipeline-fixes.org
  infra/cloudflare/wrangler.toml
Owners: @aygp-dr, @jwalsh, @dsp-dr
