Repository dsp-dr/guile-changeflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

.github/CODEOWNERS:

# CODEOWNERS file for Guile ChangeFlow
# Automatic code review assignment

# Global ownership - all files require review from at least one of these users
* @seanjensengrey @jwalsh @aygp-dr @dsp-dr

# Core Guile modules - require Scheme/Lisp expertise
/src/ @seanjensengrey @dsp-dr

# MCP protocol implementation - require MCP expertise
/src/mcp/ @aygp-dr @jwalsh

# Infrastructure and deployment - require DevOps expertise
/infra/ @aygp-dr @jwalsh
/.github/ @jwalsh @dsp-dr

# Release management - require senior approval
/RELEASE-NOTES.md @seanjensengrey @jwalsh @dsp-dr
/CHANGELOG.md @seanjensengrey @jwalsh @dsp-dr
/docs/release-process.org @seanjensengrey @jwalsh @dsp-dr

# Security-sensitive files - require security review
/src/json.scm @seanjensengrey @dsp-dr
/.env.example @jwalsh @dsp-dr

# Documentation - require technical writing review
/docs/ @jwalsh @dsp-dr
/README.org @seanjensengrey @jwalsh @dsp-dr

# Testing infrastructure - require testing expertise
/test/ @seanjensengrey @aygp-dr @dsp-dr
/.github/workflows/ @aygp-dr @jwalsh

# Configuration files - require ops review
/infra/cloudflare/wrangler.toml @aygp-dr @jwalsh
/Makefile @seanjensengrey @dsp-dr

chore: add experiment 013 setup for Cloudflare MCP pattern analysis
  .gitmodules
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

feat: add inline favicon.ico with ChangeFlow circular arrow logo
  infra/cloudflare/worker.js
  mcp-server/worker.js
Owners: @aygp-dr, @jwalsh, @seanjensengrey, @dsp-dr

fix: correct SSE endpoint from /mcp/sse to /sse
  infra/cloudflare/worker.js
  mcp-server/worker.js
Owners: @aygp-dr, @jwalsh, @seanjensengrey, @dsp-dr

fix: simplify deployment to single file with v1/sse endpoint
  infra/cloudflare/Makefile
  infra/cloudflare/worker.js
  mcp-server/worker.js
Owners: @aygp-dr, @jwalsh, @seanjensengrey, @dsp-dr

chore: simplify to single infra/cloudflare deployment
  Makefile
  mcp-server/worker.js
Owners: @seanjensengrey, @dsp-dr, @jwalsh, @aygp-dr

docs: update status report with deployment results
  docs/mcp-status-report.md
Owners: @jwalsh, @dsp-dr

docs: update README.org with v1.3.0 endpoints and remove README.md
  README.md
  README.org
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

feat: force deploy v1.3.1 with /v1/sse endpoint and assets
  assets/banner-1200x300.png
  assets/banner.png
  assets/favicon-base64.txt
  assets/favicon.ico
  assets/logo-32.png
  assets/logo.webp
  infra/cloudflare/worker.js
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

docs: add issue #23 validation report and complete v1.3.1 release
  VALIDATION-ISSUE-23.md
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

fix: add GitHub Client ID fallback and keybase notification
  KEYBASE-NOTIFICATION.txt
  infra/cloudflare/worker.js
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

chore: remove keybase notification file from repo
  KEYBASE-NOTIFICATION.txt
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

fix: add MCP initialize handshake for Claude.ai compatibility
  infra/cloudflare/worker.js
Owners: @aygp-dr, @jwalsh

docs: comprehensive Claude.ai MCP integration documentation
  README.org
  docs/CLAUDE-AI-MCP-INTEGRATION.md
  docs/MCP-SEQUENCE-DIAGRAMS.md
  docs/TROUBLESHOOTING-GUIDE.md
Owners: @seanjensengrey, @jwalsh, @dsp-dr

fix: add GITHUB_CLIENT_ID to wrangler.toml to prevent deletion
  infra/cloudflare/worker.js
  infra/cloudflare/wrangler.toml.template
Owners: @aygp-dr, @jwalsh

feat: implement OAuth redirect flow for /v1/sse endpoint
  infra/cloudflare/worker.js
Owners: @aygp-dr, @jwalsh

refactor: use global SERVER_VERSION constant
  docs/STATUS-2025-09-14.org
  infra/cloudflare/worker.js
Owners: @jwalsh, @dsp-dr, @aygp-dr

fix: OAuth flow to match Claude.ai expectations
  infra/cloudflare/worker.js
Owners: @aygp-dr, @jwalsh

fix: resolve duplicate 'state' variable declaration
  infra/cloudflare/worker.js
Owners: @aygp-dr, @jwalsh

fix: match Cloudflare MCP OAuth response format
  infra/cloudflare/worker.js
Owners: @aygp-dr, @jwalsh

feat: add OAuth discovery and registration endpoints
  infra/cloudflare/worker.js
Owners: @aygp-dr, @jwalsh

feat: implement OAuth consent page like Atlassian
  infra/cloudflare/worker.js
Owners: @aygp-dr, @jwalsh

docs: comprehensive OAuth flow research and implementation guide
  docs/MCP-OAUTH-RESEARCH.org
Owners: @jwalsh, @dsp-dr

docs: add official MCP specification requirements to OAuth research
  docs/MCP-OAUTH-RESEARCH.org
Owners: @jwalsh, @dsp-dr

security: critical vulnerability assessment of OAuth implementation
  docs/SECURITY-REVIEW-2025-09-14.org
Owners: @jwalsh, @dsp-dr

fix: resolve build errors in worker.js
  docs/AGENT-DIVISION-OF-WORK.org
  docs/COORDINATOR-BUILDER-START.org
  docs/VALIDATION-ISSUE-23.md
  infra/cloudflare/worker.js
  scripts/check-deployment-config.sh
  static/images/banner.webp
Owners: @jwalsh, @dsp-dr, @aygp-dr, @seanjensengrey

chore: bump version to 1.4.1
  infra/cloudflare/worker.js
Owners: @aygp-dr, @jwalsh

fix: track .envrc and remove MCP auto-start to prevent hangs
  .envrc
  .gitignore
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

docs: add Claude Code directives for deployment verification
  CLAUDE.md
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

fix: resolve const reassignment error in OAuth route
  Makefile
  infra/cloudflare/worker.js
Owners: @seanjensengrey, @dsp-dr, @aygp-dr, @jwalsh

feat: add comprehensive auto-verification post-commit hook
  CLAUDE.md
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

docs: clarify auto-verification runs without intervention
  CLAUDE.md
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

chore: bump version to 1.4.2 and reorganize repository
  .claude/CLAUDE.md
  assets/banner.webp
  docs/STATUS-2025-09-14-EOD.md
  infra/cloudflare/worker.js
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

chore: final cleanup - merge env templates and fix Makefile
  .env.example
  .env.template
  Makefile
  docs/ITIL-CHANGE-ASSESSMENT-v1.4.2.md
Owners: @jwalsh, @dsp-dr, @seanjensengrey, @aygp-dr

fix: auto-deploy to production on main branch pushes
  .github/workflows/deploy-cloudflare.yml
Owners: @aygp-dr, @jwalsh

chore: update Makefile to use guile3 explicitly
  Makefile
Owners: @seanjensengrey, @dsp-dr

Notes added by 'git notes add'
  d9d76b75aa924df6b153cb06ebfd2ef140482c11
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

docs: add comprehensive ITIL to MCP implementation mapping
  docs/ITIL-MCP-IMPLEMENTATION-OVERVIEW.org
Owners: @jwalsh, @dsp-dr

docs: add comprehensive MCP ecosystem integration guide
  docs/MCP-ECOSYSTEM-INTEGRATION-GUIDE.org
Owners: @jwalsh, @dsp-dr

docs: add comprehensive MCP Claude Code Docker environment guide
  docs/MCP-CLAUDE-CODE.org
Owners: @jwalsh, @dsp-dr

docs: add final summary for Guile 3 demo readiness
  docs/FINAL-SUMMARY-GUILE3-READY.org
Owners: @jwalsh, @dsp-dr
