Repository dsp-dr/guile-changeflow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

fix: remove --env flag for production deployment
  .github/workflows/deploy-cloudflare.yml
Owners: @aygp-dr, @jwalsh

fix: disable Analytics Engine until enabled in Cloudflare dashboard
  infra/cloudflare/wrangler.toml
Owners: @aygp-dr, @jwalsh

fix: update post-deployment checks to use correct worker URL
  .github/workflows/post-deploy-check.yml
Owners: @aygp-dr, @jwalsh

fix: add dual URL checking in post-deployment verification
  .github/workflows/post-deploy-check.yml
  docs/status/HANDOFF-MCP-DEPLOYMENT.org
Owners: @aygp-dr, @jwalsh, @dsp-dr

fix: use correct worker name for production
  infra/cloudflare/wrangler.toml
Owners: @aygp-dr, @jwalsh

fix: standardize worker names and cleanup configuration
  .github/workflows/post-deploy-check.yml
  docs/CLOUDFLARE-WORKERS-CLEANUP.org
  infra/cloudflare/wrangler.toml
Owners: @aygp-dr, @jwalsh, @dsp-dr

docs: add clear division of work for parallel development
  AGENT-DIVISION-OF-WORK.org
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

docs: comprehensive architecture and demo documentation
  docs/ARCHITECTURE-OVERVIEW.org
  docs/CLAUDE-AI-DEMO-SETUP.org
  docs/diagrams/build-process.mmd
  docs/diagrams/ci-cd-sequence.mmd
  docs/diagrams/mcp-integration-flow.mmd
Owners: @jwalsh, @dsp-dr

docs: add Claude.ai Custom Connector setup and testing
  docs/CLAUDE-CUSTOM-CONNECTOR-SETUP.org
  scripts/test-custom-connector.sh
Owners: @jwalsh, @dsp-dr, @seanjensengrey, @aygp-dr

docs: create OAuth implementation plan and status report
  docs/status/2025-09-14-oauth-planning.org
Owners: @jwalsh, @dsp-dr

feat: create experiment 011 for OAuth routes
  experiments/011-mcp-oauth-routes/DIVISION-OF-WORK.org
  experiments/011-mcp-oauth-routes/README.org
  experiments/011-mcp-oauth-routes/mcp-server.js
  experiments/011-mcp-oauth-routes/oauth-wrapper.js
  experiments/011-mcp-oauth-routes/package.json
  experiments/011-mcp-oauth-routes/worker.js
  experiments/011-mcp-oauth-routes/wrangler.toml
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

docs: add npm package specification for JavaScript MCP server
  docs/npm-package-spec.md
Owners: @jwalsh, @dsp-dr

chore: add npm publishing configuration to .env.example
  .env.example
Owners: @jwalsh, @dsp-dr

feat: add staging deployment support
  .github/workflows/deploy-cloudflare.yml
Owners: @aygp-dr, @jwalsh

docs: add session summary with accomplishments
  docs/status/2025-09-14-final-summary.org
Owners: @jwalsh, @dsp-dr

feat: add all 8 ITIL tools to MCP server with aggressive freeze periods
  .gitattributes
  COORDINATOR-BUILDER-START.org
  Makefile
  infra/cloudflare/worker.js
  mcp-server/changeflow-mcp.js
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

docs: add Cloudflare AI Playground testing instructions
  README.org
Owners: @seanjensengrey, @jwalsh, @dsp-dr

fix: add CORS support for Cloudflare AI Playground
  infra/cloudflare/worker.js
  mcp-server/changeflow-mcp.js
Owners: @aygp-dr, @jwalsh, @seanjensengrey, @dsp-dr

chore: bump version to 1.1.1
  experiments/011-mcp-oauth-routes/GITHUB-OAUTH-SETUP.org
  infra/cloudflare/worker.js
  mcp-server/changeflow-mcp.js
  mcp-server/package.json
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

fix: automate worker build in CI/CD
  .github/workflows/deploy-cloudflare.yml
  docs/CHANGE-MANAGEMENT-IRONY.org
Owners: @aygp-dr, @jwalsh, @dsp-dr

refactor: use proper make recursion for all deployments
  .github/workflows/deploy-cloudflare.yml
  Makefile
  docs/OAUTH-SETUP-GUIDE.org
  experiments/011-mcp-oauth-routes/Makefile
  infra/cloudflare/Makefile
Owners: @aygp-dr, @jwalsh, @seanjensengrey, @dsp-dr

docs: add comprehensive deployment pipeline demo guide
  DEMO-README.md
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

feat: implement ITIL chaos simulator in Scheme
  src/simulator/change-generator.scm
  src/simulator/chaos-orchestrator.scm
  src/simulator/failure-injector.scm
  src/simulator/metrics.scm
  src/simulator/state-validator.scm
  test/simulator-test.scm
Owners: @seanjensengrey, @dsp-dr, @aygp-dr

feat: add MCP integration for ITIL chaos simulator
  src/mcp/simulator-tools.scm
  src/mcp/tools.scm
Owners: @aygp-dr, @jwalsh

docs: create formal ITIL change request for simulator deployment
  CHANGE-REQUEST-SIMULATOR.org
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

feat: implement realistic deployment pipeline simulator
  demo-deployment-pipeline.scm
  demo-session.sh
  src/simulator/deployment-pipeline.scm
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

docs: add org-mode presentations and documentation
  CHANGE-REQUEST-MCP-DEPLOYMENT.org
  docs/MCP-DEVELOPMENT-GUIDE.org
  docs/executive-presentation.md
  docs/presentations/executive/Makefile
  docs/presentations/executive/executive.org
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

feat: complete demo recording and presentation system
  docs/demos/README.md
  docs/demos/scripts/generate-gif.sh
  docs/demos/scripts/record-demo.sh
  docs/demos/scripts/run-scenario.sh
  docs/demos/specs/STAKEHOLDER-DEMO-SPEC.md
Owners: @jwalsh, @dsp-dr

feat: add reproducible demo data generation system
  Makefile
  data/demo-backend-focus.json
  data/demo-change-requests.json
  data/demo-frontend-only.json
  data/demo-high-priority.json
  data/demo-infrastructure.json
  data/demo-metadata.json
  data/demo-quick.json
  src/simulator/data-export.scm
Owners: @seanjensengrey, @dsp-dr, @jwalsh, @aygp-dr

refactor: clean up project structure with org-mode
  .gitignore
  demos/demo-deployment-pipeline.scm
  docs/CHANGE-REQUEST-SIMULATOR.org
  docs/CHANGELOG.org
  docs/DEMO-README.org
  docs/demos/README.org
  docs/demos/scripts/demo-session.sh
  docs/demos/specs/STAKEHOLDER-DEMO-SPEC.org
  docs/releases/RELEASE-NOTES.md
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

feat: add ITIL chaos simulator with 100 reproducible demo PRs
  data/demo-backend-focus.json
  data/demo-change-requests.json
  data/demo-frontend-only.json
  data/demo-high-priority.json
  data/demo-infrastructure.json
  data/demo-metadata.json
  data/demo-quick.json
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

fix: resolve missing parenthesis in mcp simulator-tools
  src/mcp/simulator-tools.scm
Owners: @aygp-dr, @jwalsh

refactor: remove redundant demo scm file from top-level demos/
  demos/demo-deployment-pipeline.scm
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

docs: add AI agent context preservation strategy
  docs/AI-AGENT-CONTEXT-PRESERVATION.org
Owners: @jwalsh, @dsp-dr

Notes added by 'git notes add'
  90b44f306bfa799608bdfdabf7ee399578c907f1
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

feat: implement OAuth + MCP v1.2.0 with landing page
  Makefile
  docs/mcp-setup-guide.md
  docs/prompts/application-logo-prompt.md
  docs/prompts/readme-banner-prompt.md
  infra/cloudflare/worker.js
  mcp-server/changeflow-mcp.js
  scripts/clear-gh-queue.sh
  test/integration-test-production.sh
Owners: @seanjensengrey, @dsp-dr, @jwalsh, @aygp-dr

feat: implement SSE support for Claude.ai MCP integration
  infra/cloudflare/worker.js
Owners: @aygp-dr, @jwalsh

chore: sync worker.js to mcp-server directory
  mcp-server/worker.js
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

chore: clean up mcp-server directory - keep only worker.js
  .claude/agents/builder.md
  .claude/agents/coordinator.md
  .env.template
  README.md
  docs/CLOUDFLARE-OAUTH-QUICKREF.org
  docs/LANDING-PAGE-PLAN.org
  docs/OAUTH-FLOW.org
  docs/github-actions-status-report.md
  docs/oauth-implementation-log.org
  experiments/012-mcp-server-audit/analysis.md
  experiments/012-mcp-server-audit/artifacts/asana.json
  experiments/012-mcp-server-audit/artifacts/changeflow.json
  experiments/012-mcp-server-audit/artifacts/hubspot.json
  experiments/012-mcp-server-audit/artifacts/linear.json
  experiments/012-mcp-server-audit/artifacts/plaid.json
  experiments/012-mcp-server-audit/artifacts/square.json
  experiments/012-mcp-server-audit/artifacts/stripe.json
  experiments/012-mcp-server-audit/artifacts/summary.txt
  experiments/012-mcp-server-audit/artifacts/vercel.json
  experiments/012-mcp-server-audit/audit.sh
  experiments/mcp-server-audit.sh
  infra/cloudflare/worker-oauth.js
  mcp-server/README.org
  mcp-server/package.json
  scripts/monitor-builder.sh
  scripts/setup-oauth-secrets.sh
Owners: @seanjensengrey, @jwalsh, @aygp-dr, @dsp-dr

feat: add GitHub link to landing page and document SSE learnings
  docs/mcp-status-report.md
  experiments/012-mcp-server-audit/learnings.md
  infra/cloudflare/worker.js
  mcp-server/worker.js
Owners: @jwalsh, @dsp-dr, @seanjensengrey, @aygp-dr

.github/CODEOWNERS:

# CODEOWNERS file for Guile ChangeFlow
# Automatic code review assignment

# Global ownership - all files require review from at least one of these users
* @seanjensengrey @jwalsh @aygp-dr @dsp-dr

# Core Guile modules - require Scheme/Lisp expertise
/src/ @seanjensengrey @dsp-dr

# MCP protocol implementation - require MCP expertise
/src/mcp/ @aygp-dr @jwalsh

# Infrastructure and deployment - require DevOps expertise
/infra/ @aygp-dr @jwalsh
/.github/ @jwalsh @dsp-dr

# Release management - require senior approval
/RELEASE-NOTES.md @seanjensengrey @jwalsh @dsp-dr
/CHANGELOG.md @seanjensengrey @jwalsh @dsp-dr
/docs/release-process.org @seanjensengrey @jwalsh @dsp-dr

# Security-sensitive files - require security review
/src/json.scm @seanjensengrey @dsp-dr
/.env.example @jwalsh @dsp-dr

# Documentation - require technical writing review
/docs/ @jwalsh @dsp-dr
/README.org @seanjensengrey @jwalsh @dsp-dr

# Testing infrastructure - require testing expertise
/test/ @seanjensengrey @aygp-dr @dsp-dr
/.github/workflows/ @aygp-dr @jwalsh

# Configuration files - require ops review
/infra/cloudflare/wrangler.toml @aygp-dr @jwalsh
/Makefile @seanjensengrey @dsp-dr
